<h2><%= @game.title %></h2>

<p>Stock Count: <%= @game.stock %></p>
<p>Stock Level: <%= @game.stock_level %></p>
<p>Publisher: <a href="/publishers/<%= @game.publisher_id %>"><%= @game.publisher.name %></p>



<a href="/games/<%= @game.id %>/edit">Edit</a>
<br><br>
<form action="/games/<%= @game.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
