<h1>Publishers</h1>

<% @publishers.each do |publisher| %>

<h3> <a href="publishers/<%= publisher.id %>"><%= publisher.name %></a></h3>
<p><% publisher.games.each do |game| %></p>
<p>Name: <a href="games/<%= game.id %>"><%= game.title %></a></p>
<p>Stock Level: <%= game.stock %></p>

<% end %>

<% end %>
